<%= simple_form_for @group do |f| %>
<div class="form-group">
  <%= f.input :title, input_html: {class:"form-horizontal"} %>
  <%= f.input :description, input_html: {class: "form-horizontal"} %>
</div>
<%= f.submit "Submit",class:"btn btn-primary", disable_with:"Submiting..." %>
<% end %>
